:root {
    --background: #121212;
    --primary-color: #1F1F1F;
    --secondary-color: #373737;
    --accent-color: #BB86FC;
    --text-color: #FFFFFF;
}

.light-theme {
    --background: #F0FFF4;
    --primary-color: #C6F6D5;
    --secondary-color: #9AE6B4;
    --accent-color: #38A169;
    --text-color: #454952;
}

*{
    margin: 0;
    padding: 0;
}
html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  color: var(--text-color);
}
body{
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.25s, color 0.25s;
}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}
.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#todo-input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}
#todo-input:focus{
    outline: none;
}
form{
    position: relative;
}
#add-button{
    position: absolute;
    top: 0;
    right: 0;

    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;   
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}
.todo{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
    overflow: hidden ;
}
.delete-button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.delete-button, .edit-button , .save-button, .cancel-button svg{
    transition: 200ms ease;
}
.delete-button:hover svg, .cancel-button:hover svg{
    fill: #ff0033;
}

.save-button, .cancel-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    fill: var(--secondary-color);
}

.save-button:hover svg {
    fill: #5cb85c;
}


.custom-checkbox{
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}
input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent-color);
}
input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--primary-color);
}
input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--secondary-color);
}
input[type="checkbox"]{
    display: none;
}

.edit-button {
    padding: 3px;
    background: none;
    border: none;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.edit-button:hover {
    color: #f8bc3b;
}

.todo-text {
    flex-grow: 1;
    color: var(--text-color);
}

.edit-input {
    display: none;
    border: none;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}

.edit-input:focus{
    outline: none;

}
li.editing .todo-text {
    display: none;
}

li.editing .edit-input {
    display: block;
}

.theme-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
}

.theme-toggle-checkbox {
    opacity: 0;
    position: absolute;
}

.theme-toggle-label {
    background-color: var(--secondary-color);
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    position: relative;
    width: 50px;
    transition: background-color 0.3s;
}

.theme-toggle-label::after {
    background-color: var(--accent-color);
    border-radius: 50%;
    content: "";
    height: 22px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 22px;
    transition: transform 0.3s, background-color 0.3s;
}

.theme-toggle-checkbox:checked + .theme-toggle-label {
    background-color: var(--secondary-color);
}

.theme-toggle-checkbox:checked + .theme-toggle-label::after {
    transform: translateX(24px);
}


@media(max-width: 500px){
    html{
        font-size: 12pt;
    }
    #add-button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
    h1{
        margin-top: 40px;
        font-size: 14vw;
    }
}

